:root {
    --white: #ffffff;
    --black: #343434;

    --dark-gray: #5D6A75;
    --gray: #A5A5A5;
    --light-gray: #CCCCCC;

    --dark-blue: #1187F4;
    --blue: #ACD5FB;
    --light-blue: #E5F3FF;

    --red: #F44336;
}